/*FONTS-------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap');
/*'#*/
/* RESET CSS-------------------------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* MODO OSCURO------------------------------------------*/

body.cambio-fondo{
    background-image: url("../img/fondo_o.jpg");
    color: #fafafa;
}

body.cambio-fondo .descripcion {
    background: rgba(0,0,0,0.7);
}

body.cambio-fondo #Portafolio {
    background: rgba(0,0,0,0.7);
}

body.cambio-fondo .frase {
    background: rgba(255,255,255,0.7);
    color: #0f0f0f;
}

body.cambio-fondo #timeline{
    background: rgba(255,255,255,0.7);
    width: 3px;
}

body.cambio-fondo .content{
    color: rgb(255, 255, 255);
    box-shadow:  0 4px 30px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

body.cambio-fondo .child:nth-child(odd)::before{
    background: rgb(255, 255, 255);
}

body.cambio-fondo .child:nth-child(even)::before{
    background: rgb(255, 255, 255);
}

body.cambio-fondo .child:nth-child(odd)::after{
    background: rgb(255, 255, 255);
}

body.cambio-fondo .child:nth-child(even)::after{
    background: rgb(255, 255, 255);
}

body.cambio-fondo #conocimientos {
    background: rgba(0,0,0,0.7);
}

body.cambio-fondo #Contacto {
    background: rgba(0,0,0,0.7);
}

body.cambio-fondo form {
    background: rgba(255,255,255,0.1);
}
/*CSS BASE----------------------------------------------*/

body{
    font-family: 'Expletus Sans', cursive;
    line-height: 1.5;
    background-image: url("../img/FONDO_3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: #0f0f0f;
}

h1{
    font-size: 48px;
    padding: 10px;
}

h2{
    text-align: justify;
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 22px;
}

p{
    text-align: justify;
    font-size: 20px;
}

/*MENU--------------------------------------------------*/
.header {
    max-width: 100%;
    background-color: #c3002c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 70px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 6px 10px -5px #4e4b4b;
    z-index:1;
}

.logo {
    margin-top: 10px;
    padding: 10px;
    max-width: 50%;
    width: 40%;
}

#menu-btn {
    background: transparent;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;           
}

ul#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

svg{
    height: 40px;
}

svg#close-menu {
    display: none;
}

nav{
    display: none;
}

li{
    list-style: none;
    margin: 10px;
    padding: 3px;
}

li.menu-item a {
    
    text-align: center;
    text-decoration:  none;
    color: #0f0f0f;
    display: inline-block;
}

/*ESTILOS PARA CLASES ACTIVE Y HOVER*/
li.menu-item:hover,
li.menu-item a.active,
a.btn:hover {
    background-color: #d2d2d2;
    border-radius: 5px;
    color: #000000;
    transition: background-color 0.3s;
}

section {
    scroll-margin-top: 90px;
}

/*BOTON MODO NOCTURNO-----------------------------------------*/
        
#modo-nocturno{
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 32px;
    width: 40px;
    height: 40px;   
}

svg#close-icono {
    display: none;
}

/*SLIDER-----------------------------------------------------*/

.slider{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation: cambio 20s infinite ;
}
.slider li{
    padding: 70px 0 0 0;
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
}

/*SECCION 1_ALGO DE MI----------------------------------------*/

#algo-de-mi{
    margin-top: 150px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

img.yo{
    width: 300px;
    border-radius: 50%;
    border: solid 5px #a4a4a4;
    margin-bottom: 50px;
}

.descripcion h2{
    text-align: center;
 }

.descripcion{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(201,201,201,0.6);
    padding: 30px;
    border-radius: 10px;
}

.frase{
    text-align: center;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    margin: 15% 20% 25%;
    border-radius: 10px;
}

/* SECCION2_LINEA DE TIEMPO --------------------------------*/



#timeline{
    content: '';
    position: relative;
    background: rgb(4,4,4);
    width: 1px;
    left: 35%;
}
    
.child{
    position: relative;
    margin: 20px;
    /*opacity:0;*/
}

    /*PARES---------*/
.chil:nth-child(odd){
    float: left;
}

    /*circulos*/
.child:nth-child(odd)::before{
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}

    /*lineas*/
.child:nth-child(odd)::after{
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}
    
    /*IMPARES---------*/
   /*circulos*/
.child:nth-child(even)::before{
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -30px;
}

    /*lineas*/
.child:nth-child(even)::after{
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    width: 10px;
    height: 2px;
    left: -10px;
    top: 10px;
}    


.content{
    width: 480px;
    padding: 15px;
    color: rgb(10,10,10);
    /*efecto vidrio*/
    border-radius:  0 20px 20px 20px;
    box-shadow:  0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.4);
}
    
/* SECTION 3_PORTAFOLIO FOTOGRAFICO-----------------------*/

#Portafolio {
    overflow:hidden;
    max-width: 80%;
    background: rgba(201, 201, 201, 0.6);
    margin: auto;
    padding: 80px;
    margin-top: 350px;
    margin-bottom: 150px;
}

#experiencia-list{
    text-align: justify;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#experiencia-list li{
    width: 100%;
    max-width: 700px;
    margin-top: 50px;
}
  
#experiencia-list img {
    width: 100%;
}

/*SECCIO 4_CONOCIMIENTOS---------------------------------------*/
#conocimientos{
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
    max-width: 60%;
    padding: 30px;
    background: rgba(255,255,255,0.7)
}

#conocimientos h2{
    text-align: center;
}

#conocimientos ul{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*BOTON DESCARGA CV--------------------------------------------*/
#botoncv{
    display: flex;
    justify-content: center;
    text-decoration: none;
    max-width: 300px;
    margin: auto;
    background-color: #c3002c;
    color: #fbfbfb;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 150px;
}

/*SECCION 5_CONTACTO------------------------------------------*/

#Contacto{
    margin: 20%;
    margin-top: 300px;
    padding: 25px;
    background: rgba(255,255,255,0.7);
}

form{
    width: 550px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: 20px;
    margin-top: 20px;
    border-radius: 7px;
}

#formulario h3{
    text-align: center;
    margin: 0;
    font-size: 20PX;
    margin-bottom: 10px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background-color: #4e4b4b;
    color: #fafafa;
    padding: 20px;
    border-radius: 8px;
}

#boton:hover{
    cursor:pointer; 
    background-color: #0f0f0f
}

/* FOOTER------------------------------------------------------*/
footer{
    background-color: #01016d;
    height: 200px;
    color: #fafafa;
    text-align: center;
    padding: 50px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 80px;
}

.instagram{
    width: 40px ;
}
.facebook{
    width: 40px ;
}
.linkedin{
    width: 40px ;
}

/*-----------------------ESPACIO MOBILE----------------------*/

/*menu*/

body.mobile-menu-active{
    overflow:hidden;
}

body.mobile-menu-active svg#close-menu{
    display:block;
}

body.mobile-menu-active svg#open-menu{
    display: none;
}

body.mobile-menu-active header{
    height: 60vh;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.4s;
}

body.mobile-menu-active nav{
    display: block;
    width: 100%;
    height: 50%;
}

body.mobile-menu-active ul#menu{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

/*boton modo-nocturno*/

body.mobile-modoNocturno-active svg#close-icono{
    display:block;
}

body.mobile-modoNocturno-active svg#open-icono{
    display: none;
}

@media (max-width:767px){
    .header{
        max-width: 100%;
    }
    
    svg{
        height: 20px;
    }

    .slider{
        width: 100%;
        margin: auto;
    }
    
    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 22px;
    }

    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 18px;
    }
    
    p{
        font-size: 16px;
    }

    .frase{
        font-size: 20px;
    }

    #timeline{
        max-width: 70%;
        left: 10%;
    }
        
        /*IMPARES---------*/
   
        
        /*circulos*/
    .child:nth-child(even)::before{
        left: -30px;
    }
        
        /*lineas*/
    .child:nth-child(even)::after{
        left: -10px;
    }
    .content{
        width: 80vw;
    } 
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 80px;
    }
    #Portafolio {
        margin: auto;
        padding: 20px;
        margin-top: 350px;
        margin-bottom: 150px;
    }
    #Contacto{
        margin: 7%;
        margin-top: 300px;
        padding: 25px;
    }
    form{
        width: 100%;
        margin: auto;
    }
}

/*----------------------ESPACIO DESKTOP------------------------*/

@media (min-width:1024px){

section#algo-de-mi{
    flex-direction: row;
    justify-content: space-evenly;
}
article.descripcion{
    text-align: justify;
    width: 50%;
}
h1{
    font-size: 48px;
    text-align: left;
}
img.yo{
    width: 400px;
}
#menu-btn{
    display: none;
}
nav{
    display: block;
}
}
